<h1>Welcome to my Heroku test deployment page!</h1>
<div id="search">
	<form>
		<h2>Search</h2>
		<input type='text' name='searchString' />
		<input type='button' name='submitButton' value='Search' href='/about'/>
	</form>
</div>
<img src='https://github.com/LangKenney/CodeCampCode/blob/master/Bio%20Pictures/03994_bixbybridgehazydusk_1600x900.jpg?raw=true' width="70%">
<p>This page is very basic and is simpy a test of Heroku deployment for future web app design projects</p>
<p><a href='/about'>Go to about page</a></p>